<div class="jumbotron">
    <div class="container">
        <h2>I'm a Santa Barbara based web developer building websites and applications for small companies.</h2>
        <a class="btn btn-default" href="#">View my work</a>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row">
            <% @projects.each do |project| %>
            <div class="col-md-4">
                <%= link_to project.site do %>
                <div class="thumbnail">
                    <img src="<%= project.screen %>">
                    <div class="caption">
                        <h3><%= project.title %></h3>
                        <p><%= project.desc %></p>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>