<div class="header">
    <div class="container">
        <div class="row">
            <div class="menu col-xs-8">
                <ul>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            
            <div class="name col-xs-4">
                <h1>Joe McIlhargey</h1>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <h2>I'm a Santa Barbara based full-stack web developer building websites and applications for small companies.</h2>
        <a class="btn btn-default" href="#">View my work</a>
    </div>
</div>
<div class="main">
    <div class="container">
        
    </div>
</div>
<div class="footer">
    <div class="container">
        <ul class="social">
            <li><a href="#"></a><img src="https://dl.dropboxusercontent.com/u/63260308/Portfolio/Images/github.png"></li>
            <li><a href="#"></a><img src="https://dl.dropboxusercontent.com/u/63260308/Portfolio/Images/linkedin.png"></li>
            <li><a href="#"></a><img src="https://dl.dropboxusercontent.com/u/63260308/Portfolio/Images/twitter.png"></li>
            <li><a href="#"></a><img src="https://dl.dropboxusercontent.com/u/63260308/Portfolio/Images/facebook.png"></li>
        </ul>
    </div>
</div>
